<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @race.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @race.location %>
</p>

<p>
  <strong>Track name:</strong>
  <%= @race.track_name %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @race.start_time %>
</p>

<%= link_to 'Edit', edit_race_path(@race) %> |
<%= link_to 'Back', races_path %>
